*{
  box-sizing: border-box;
  color: black;
  font-family: "Rubik",sans-serif;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  overflow-x: hidden;
}
@keyframes animateDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
